@model CountryCityUI.Models.CityEditViewModel

@{
    ViewData["Title"] = "UpdateCity";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@ViewBag.Message');
        };
    </script>
}  

<div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Şehir Düzenle</h4>
                 
                @using (Html.BeginForm("UpdateCity","City",FormMethod.Post,new { enctype = "multipart/form-data" })){

                                    
                 
                    @Html.HiddenFor(m=>m.Id)
                    
                    <div class="form-group">
                      <label>Şehir adı</label>
                      @Html.TextBoxFor(m=>m.name,new {@class="form-control"}) 
                      @Html.ValidationMessageFor(m=>m.name,"",new {@class="text-danger"})
                    </div>
                    <div class="form-group">
                      <label>Şehir nüfusu</label>
                      @Html.TextBoxFor(m=>m.population,new {@class="form-control"}) 
                      @Html.ValidationMessageFor(m=>m.population,"",new {@class="text-danger"})

                    </div>

                                   
                   <div class="form-group">
                      <label>Ülke Seçiniz</label>
                      @Html.DropDownListFor(m=>m.CountryID,(List<SelectListItem>) ViewBag.Countries ,new {@class="form-control"})                      
                    </div>
                
                                     
                    <div class="form-group">
                      <label>Şehir Resimini Seç</label>
                       @Html.TextBoxFor(m => m.image, new { type = "file" })
                       @Html.ValidationMessageFor(m => m.image,"",new {@class="text-danger"})
            
                    </div>
             

                      <button  class="btn btn-success">Düzenle</button>  
            

                 }


                  </div>
                </div>
              </div>

